.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
# Ignorar arquivos compilados e logs do dbt
include/meu_dbt/target/
include/meu_dbt/logs/
include/meu_dbt/dbt_packages/